@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  margin: 0;
}

h1 {
  position: relative;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
}

h1::before, h1::after { 
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
h1::before {
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  left: 0;
}
h1::after {
  content: '';
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  right: 0;
}

.logo {
  height: 180px;
  width: 180px;
}

table {
  border-collapse: collapse;
  font-size: 1.4rem;
}

th, td {
  border: solid 1px #333;
  padding: 5px;
}

tr:nth-child(odd) {
  background: #ccc;
}